body {
    background-color: #142134;
}

@font-face {
    font-family: 'saniretro';
    src: url('pictures/fonts/Saniretro.ttf');
}

@font-face {
    font-family: 'segan';
    src: url('pictures/fonts/Segan-Light.ttf');
}

@font-face {
    font-family: 'Bellerose';
    src: url('pictures/fonts/Bellerose.ttf');
}

@font-face {
    font-family: 'LRT_Oksana';
    src: url('pictures/fonts/LRT_Oksana.ttf');
}

#drawing {
    margin-left: 500px;
}

.entete {
    background-color: #142134;
    position: absolute;
    top: 40px;
    height: 40px;
}

.nav-link, .description {
    font-family: 'saniretro';
    font-size: 1.6em;
    color: #d49f4b;
}

#enteteNav a {
    color: #d49f4b;
}

.containerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbarNav {
    display: inline-block;
}

#header, #footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#svg_header, #cadre_footer {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

#anim_entete {
    display: flex;
    justify-content: center;
}

#cadre_entete {
    display: block;
    width: 60%;
}

.text_name {
    text-align: center;
    padding-top: 25%;
    position: absolute;
    font-family: 'saniretro';
    color: #f6d298;
}

.text_name h1 {
    font-size: 4em;
}

.text_name h3 {
    font-size: 3em;
}

#profil, #cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#profil {
    margin-top: 12%;
}

.photo, .description, .cv, #DIAMS {
    display: block;
}

.description {
    text-align: justify;
    color: #fff;
}

#diams_cv h3 {
    font-family: 'saniretro';
    color: #d49f4b;
    text-align: center;
    padding-right: 0;
}

#diams_cv h3 {
    font-size: 2.2em;
}

#diams_cv h3:hover {
    font-size: 2.5em;
    color: #fff;
}

.linkedin, .github {
    width: 70px;
    margin-right: 20px;
}

.github {
    border-radius: 5px;
}

.linkedin:hover, .github:hover {
    width: 90px;
}

#cv {
    margin-top: 60px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#diago_cadre {
    width: auto;
}

#transit_parcours, .experience, .parcours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diago_parcours {
    display: block;
    padding-right: 0;
}

.experience {
    width: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.experience_text {
    font-family: 'Bellerose';
    color: #fff;
    text-align: center;
    padding-right: 0;
    position: relative;
}

@media (min-width: 576px) {
    .experience_text {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    .experience_text {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    .experience_text {
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    .experience_text {
        font-size: 1.6em;
    }
}

#parcours_form, #parcours_form_3 {
    width: 80%;
    position: absolute;
}

#parcours_form_2 {
    width: 90%;
    position: absolute;
}

footer {
    width: auto;
}