body {
    background-color: #142134;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@font-face {
    font-family: 'saniretro';
    src: url('fonts/Saniretro.ttf');
}

@font-face {
    font-family: 'segan';
    src: url('fonts/Segan-Light.ttf');
}

@font-face {
    font-family: 'Bellerose';
    src: url('fonts/Bellerose.ttf');
}

@font-face {
    font-family: 'LRT_Oksana';
    src: url('fonts/LRT_Oksana.ttf');
}

h1 {
    font-family: 'saniretro';
    color: #d49f4b;
    text-align: center;
    padding-right: 0;
    margin-top: 13%;
    margin-bottom: 30px;
}

@media (min-width: 360px) {
    h1 {
        font-size: 1.6em;
    }
}

@media (min-width: 556px) {
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}

.nav-link, .description, #twitter, #my_cinema, #puissance4 {
    font-family: 'saniretro';
    font-size: 1.6em;
    color: #d49f4b;
}

.nav-link {
    display: none;
}

#enteteNav a {
    color: #fff;
}

#navbarNav {
    display: inline;
}

@media (min-width: 360px) {
    .containerNav {
        display: none;
    }
}

@media (min-width: 768px) {
    .containerNav {
        display: none;
    }
}

@media (min-width: 992px) {
    .containerNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #142134;
        position: absolute;
        top: 15px;
        height: 30px;
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .containerNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #142134;
        position: absolute;
        top: 24px;
        height: 30px;
        width: 60%;
    }
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#svg_header, #cadre_footer {
    display: block;
    margin: 10px;
    height: 100%;
}

#text_name {
    display: none;
    text-align: center;
    padding-top: 19%;
    position: absolute;
    font-family: 'saniretro';
    color: #f6d298;
}

#text_name h3 {
    color: #fff;
}

@media (min-width: 360px) {
    #text_name {
        padding-top: 17%;
    }
    #text_name h1 {
        font-size: 1rem;
        margin-bottom: 0;
    }
    #text_name h3 {
        margin: auto;
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) {
    #text_name h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    #text_name h3 {
        margin: auto;
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    #text_name h1 {
        font-size: 2rem;
    }
    #text_name h3 {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    #text_name h1 {
        font-size: 2.5rem;
    }
    #text_name h3 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    #text_name h1 {
        font-size: 3.5rem;
    }
    #text_name h3 {
        font-size: 3rem;
    }
}

#profil, #cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    #profil {
        margin-top: 12%;
    }
}

@media (min-width: 768px) {
    #profil {
        margin-top: 12%;
    }
}

@media (min-width: 992px) {
    #profil {
        margin-top: 12%;
    }
}

.photo, .description, .cv, #DIAMS {
    display: block;
}

.description {
    color: #fff;
}

@media (min-width: 360px) {
    .description p {
        text-align: center;
        font-size: 0.6em;
        width: auto;
    }
}

@media (min-width: 576px) {
    .description p {
        font-size: 0.7em;
        width: auto;
    }
}

@media (min-width: 768px) {
    .description p {
        text-align: justify;
        font-size: 0.8em;
    }
}

@media (min-width: 992px) {
    .description p {
        text-align: justify;
        font-size: 1em;
    }
}

#diams_cv h3, #diamant1, #diamant2, #diamant3, #diamant4, #diamant5, #diamant6, #diamant7, #diamant8, #diamant9, #diamant10, #diamant11, #diamant12, .img_projet h3 {
    font-family: 'saniretro';
    color: #fff;
    text-align: center;
    padding-right: 0;
}

#diams_cv h3 {
    color: #d49f4b;
    font-size: 2.2em;
}

#diams_cv h3:hover {
    font-size: 2.5em;
    color: #fff;
}

.linkedin, .github {
    width: 70px;
    margin-right: 20px;
}

.github, .github_min {
    border-radius: 5px;
}

@media (min-width: 360px) {
    .linkedin, .github {
        width: 50px;
        margin-right: 20px;
    }
}

}

@media (min-width: 576px) {
    .linkedin, .github {
        width: 50px;
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .linkedin, .github {
        width: 70px;
        margin-right: 20px;
    }
}

.linkedin:hover, .github:hover {
    width: 90px;
}

#cv {
    margin-top: 60px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#diago_cadre {
    width: auto;
}

#transit_parcours, .experience, .parcours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wow {
    visibility: hidden;
}

.experience {
    margin-top: 8%;
    margin-bottom: 8%;
}

#parcours_form, #parcours_form_2, #parcours_form_3 {
    position: relative;
}

@media (min-width: 360px) {
    #parcours_form, #parcours_form_2, #parcours_form_3 {
        width: auto;
    }
}

@media (max-width: 576px) {
    #parcours_form, #parcours_form_2, #parcours_form_3 {
        width: 100%;
    }
}

.experience_text, .experience_text_2 {
    font-family: 'Bellerose';
    color: #fff;
    text-align: center;
    padding-right: 0;
    position: absolute;
}

@media (min-width: 360px) {
    .experience_text p, .experience_text_2 p {
        font-size: 0.6em;
        width: 90%;
        margin-left: 4%;
    }
    .experience_text h3, .experience_text_2 h3 {
        font-size: 1em;
    }
}

@media (min-width: 576px) {
    .experience_text p, .experience_text_2 p {
        font-size: 1.4em;
        width: auto;
        margin-left: 0;
    }
    .experience_text h3, .experience_text_2 h3 {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .experience_text p, .experience_text_2 p {
        font-size: 1.4em;
        width: auto;
        margin-left: 0;
    }
    .experience_text h3, .experience_text_2 h3 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    .experience_text p {
        font-size: 1.4em;
        width: auto;
        margin-left: 0;
    }
    .experience_text_2 p {
        font-size: 1.3em;
        width: auto;
        margin-left: 0;
    }
    .experience_text h3, .experience_text_2 h3 {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .experience_text p {
        font-size: 1.4em;
        width: auto;
        margin-left: 0;
    }
    .experience_text_2 p {
        font-size: 1.3em;
    }
    .experience_text h3, .experience_text_2 h3 {
        font-size: 2em;
    }
}

#competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#line1, #line2, #line3, #projets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#diamant1, #diamant2, #diamant3 {
    display: block;
    margin: 0;
}

#projets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.img_projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_projet img {
    position: relative;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.img_projet h3 {
    position: absolute;
    opacity: 0;
    font-size: 3em;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.img_projet:hover img {
    opacity: 0.3;
}

.img_projet:hover h3 {
    opacity: 1;
    font-size: 3em;
}

#twitter h5, #my_cinema h5, #puissance4 h5 {
    font-family: 'saniretro';
    font-size: 1em;
    color: #d49f4b;
}

#twitter p, #my_cinema p, #puissance4 p {
    font-family: 'Bellerose';
    font-size: 0.7em;
    color: black;
}

.titlemodal, .footermodal {
    background-color: #142134;
}

.closebtn {
    color: #fff;
}

.closebtn:hover {
    color: #fff;
    background-color: #d49f4b;
}

.fermer:hover {
    color: #fff;
    background-color: #d49f4b;
}

.contact_entete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 13%;
    margin-bottom: 8%;
}

#contact {
    position: relative;
}

@media (min-width: 360px) {
    #contact_titre {
        margin-top: 0;
        position: absolute;
        font-size: 1.5em;
    }
    .contact {
        font-size: 1em;
    }
}

@media (min-width: 576px) {
    #contact_titre {
        margin-top: 0;
        position: absolute;
        font-size: 2em;
    }
    .contact {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    #contact_titre {
        margin-top: 0;
        position: absolute;
        font-size: 3em;
    }
    .contact {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    #contact_titre {
        margin-top: 0;
        position: absolute;
        font-size: 4em;
    }
    .contact {
        font-size: 1.4em;
    }
}

.contact {
    display: block;
    text-align: center;
    font-family: 'Bellerose';
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}

#formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.logo_contact {
    display: inline;
}

.linkedin_min, .github_min {
    width: 50px;
    margin-right: 20px;
    margin-top: 20px;
}

footer {
    width: auto;
}